**/bin/
**/obj/
**/node_modules/
**/dist/
**/electron-dist/
**/.git/
**/.vs/
**/.vscode/
**/reference/
**/docs/
**/tools/
**/website/
**/*.db
**/*.db-shm
**/*.db-wal
**/*.db-journal
**/logs/
**/*.log
**/Cari Soft-Setup/
**/LicenseManager-App/
**/.env.local
**/README.md
